

<section class="categories-show">

  <div class="page-header">
    <h1>Categories |  <%= link_to @categories, [:admin, :categories] %></h1>
  </div>
  <div class="page-header">
    <h1>Products |  <%= link_to @products, [:admin, :products] %></h1>
  </div>
  <div><%= link_to "Back", root_path, class: 'btn btn-lg btn-primary' %></div>
</section>